<nav>
    <ul>
        <li class="inline-list">
            <h1 id="techscan"><strong><a href="/">TechScan</a></strong></h1>
        </li>
        <li class="inline-list" style="width: 100%">
            <input id="search-box" name="search"/>
        </li>
    </ul>
</nav>